<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my-library</title>
</head>
<body>
    <div align="center">
        <a href="{% url 'AuthorsList' %}">List of authors</a>
        <div>&nbsp</div>
        <a href="{% url 'BooksList' %}">List of books</a>
        <div>&nbsp;</div>
        <a href="{% url 'ReadBookLister' %}">List of read books</a>
        <div>&nbsp;</div>
        <a href="{% url 'ToReadBookLister' %}">List of "To Read" books</a>
        <div>&nbsp;</div>
        <a href="{% url 'WishlistLister' %}">Wishlist of books</a>
        <div>&nbsp;</div>
        <a href="{% url 'CurrentReadingBooksLister' %}">Currently reading books</a>
    </div>
</body>
</html>
