#nav-menu-item {
    color: #fff;
}

#nav-menu-item:hover {
    color: #db000b;
}

.books-container img {
    width: 80%;
    padding: 2%;
    filter: grayscale(100%);
    transition: all 500ms ease;
}

.books-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.books-container h3 {
    padding: 3%;
}

.books-container p {
    padding: 2%;
}

